@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Playfair+Display:wght@400;600;700&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;

}


html{

scroll-behavior:smooth;

}


body{

background:#f2ede4;

color:#211b16;

font-family:'Inter',sans-serif;

}





/* NAVBAR */


nav{

position:absolute;

top:0;

left:0;

width:100%;

padding:35px 7%;

display:flex;

align-items:center;

justify-content:space-between;

z-index:10;

}



.logo{

font-size:28px;

font-weight:700;

letter-spacing:5px;

color:white;

}



.logo span{

color:#c18a52;

}



nav ul{

display:flex;

gap:40px;

list-style:none;

}



nav a{

color:white;

text-decoration:none;

font-size:13px;

text-transform:uppercase;

letter-spacing:2px;

}



.btn{

border:1px solid white;

padding:15px 30px;

color:white;

font-size:12px;

text-transform:uppercase;

letter-spacing:2px;

}







/* HERO */


.hero{

height:100vh;

background:

linear-gradient(
90deg,
rgba(0,0,0,.75),
rgba(0,0,0,.35)
),

url("https://images.unsplash.com/photo-1504307651254-35680f356dfd")

center/cover;


display:flex;

align-items:center;

padding:0 8%;

color:white;

}



.hero-content{

max-width:750px;

}



.hero-content p{

font-size:12px;

letter-spacing:5px;

margin-bottom:35px;

color:#d6b07a;

}



.hero h1{

font-family:'Playfair Display',serif;

font-size:90px;

line-height:1;

font-weight:600;

}



.hero span{

display:block;

margin:35px 0;

font-size:20px;

line-height:1.8;

max-width:600px;

}



.hero a{

display:inline-block;

background:#c18a52;

color:white;

padding:18px 40px;

text-decoration:none;

text-transform:uppercase;

font-size:12px;

letter-spacing:2px;

}







/* ABOUT */


.about{

padding:130px 10%;

display:grid;

grid-template-columns:1fr 1fr;

gap:100px;

}



.about p:first-child{

letter-spacing:4px;

font-size:12px;

color:#9a6b3c;

}



.about h2{

font-family:'Playfair Display',serif;

font-size:70px;

line-height:1.1;

margin-top:30px;

}



.about div:last-child p{

font-size:20px;

line-height:2;

color:#62574d;

}







/* SERVICES */


.services{

padding:80px 7% 130px;

}



.services > h2{

font-family:'Playfair Display',serif;

font-size:70px;

margin-bottom:70px;

}



.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.cards article{

background:#fffaf3;

padding:45px;

border-top:4px solid #c18a52;

}



.cards h3{

font-family:'Playfair Display',serif;

font-size:35px;

margin-bottom:20px;

}



.cards p{

color:#71665b;

line-height:1.8;

}








/* PROJECTS */


.projects{

height:650px;

background:

linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.55)
),

url("https://images.unsplash.com/photo-1549490349-8643362247b5")

center/cover;


display:flex;

align-items:center;

padding:0 10%;

color:white;

}



.projects h2{

font-family:'Playfair Display',serif;

font-size:80px;

}



.projects p{

margin-top:25px;

font-size:20px;

max-width:500px;

line-height:1.8;

}







/* CONTACT */


.contact{

padding:130px 10%;

text-align:center;

}



.contact h2{

font-family:'Playfair Display',serif;

font-size:75px;

}



.contact p{

margin:30px;

color:#6d6257;

}



.contact button{

background:#211b16;

color:white;

border:0;

padding:18px 45px;

text-transform:uppercase;

letter-spacing:2px;

}







/* FOOTER */


footer{

background:#171310;

color:white;

padding:50px;

text-align:center;

}



footer h3{

font-family:'Playfair Display',serif;

font-size:35px;

letter-spacing:3px;

}







/* MOBILE */


@media(max-width:900px){


nav ul{

display:none;

}



.hero h1{

font-size:55px;

}



.about{

grid-template-columns:1fr;

}



.about h2{

font-size:45px;

}



.cards{

grid-template-columns:1fr;

}



.projects h2{

font-size:50px;

}



.contact h2{

font-size:45px;

}


}
